/*Selector{
    propiedad: valor;

*/

body {
    background-color: #fde0dd;
    color: #23234d;
    font-family: 'Quicksand', sans-serif;
}

.redes {
    background-color: white;
    padding: 1em 0;
}

.redes a {
    padding: 0 0.2em;
    color: #23234d;
}

.redes p {
    margin: 0;
    text-align: center;
}

h1 {
    transition-timing-function: ease-in-out;
}


/*
.nav-item li:hover {
    font-weight: bold;
}

/* pag turnos */

.contenedor-turnos {
    margin: 5em auto;
    width: 100%;
}

.contenedor-turnos h1 {
    margin-bottom: 1em;
    text-align: center;
}

fieldset {
    background-color: rgba(255, 255, 255, 0.56);
    margin: 1em 0;
    padding: 1em;
    border-radius: 1em;
}

fieldset legend {
    font-weight: bold;
}

fieldset textarea {
    width: 100%;
    border-radius: 0.5em;
}

.turno-servicios {
    min-height: 300px;
}

.boton-turno {
    text-align: center;
    margin: 3em;
}

.boton-turno input {
    border-radius: 0.5em;
}

.boton-turno input:hover {
    font-weight: bolder;
}

#form1,
#form2,
#form3 {
    margin: 2em;
}

@media screen and (min-width: 500px) {
    #form1,
    #form2 {
        display: inline-block;
    }
}

@media screen and (min-width: 1000px) {
    #form3 {
        display: inline-block;
    }
}


/* pag FAQ */

.contenedor-faq {
    padding-bottom: 1em;
}

.contenedor-faq dl,
dd {
    margin: 1em auto;
    max-width: 50em;
    background-color: rgba(255, 255, 255, 0.56);
    padding: 1em;
    border-radius: 24px;
}

.contenedor-faq h1 {
    margin: 2em 1em 1em;
    text-align: center;
}

dt {
    text-align: center;
}


/*pag nails*/

.contenedor-nbl {
    margin: 3em auto;
}

h1 {
    margin: 2em 1em 1em;
    text-align: center;
}

.nbl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nbl-subtitle .title {
    min-height: 7em;
}

.servicio {
    padding: 1em;
    margin: 1em 1em;
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 1em;
}

.title {
    max-width: 300px;
    margin-bottom: 1em;
    min-height: 3em;
}

.title h2 {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.servicio img {
    margin-bottom: 1em;
    border-style: solid;
    border-width: 0.6em;
    border-color: #fde0dd;
    border-radius: 1em;
}


/* pag br & ls */

.contenedor-bl {
    margin: 5em auto;
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 1em;
}


/* Home */

.contenedor-home {
    margin: 5em auto;
    max-width: 45em;
}

.contenedor-home h1,
.contenedor-home h3 {
    margin-bottom: 1em;
    text-align: center;
}

.presentacion,
.ubicacion,
.ubicacion p,
.hola,
.video-home,
.mapa-home {
    background-color: rgba(255, 255, 255, 0.56);
    margin: 1em 0;
    padding: 1em;
    border-radius: 1em;
}

.hola {
    font-size: 1.1em;
}

.presentacion,
.ubicacion {
    text-align: center;
}

.video-home,
.mapa-home {
    width: 100%;
}

.video-home {
    aspect-ratio: 1/1;
}

.jazz span {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 1.5em;
    color: tomato;
    animation: logo-color 2s linear alternate infinite;
}

@keyframes logo-color {
    from {
        color: #23234d;
    }
    to {
        color: tomato;
    }
}

p {
    text-align: left;
}


/*
.jazz {
    transition: ;
    }