{% include 'header.html' %}


<main class="contenedor-nbl">
    <h1>¡Elegí lo que quieras para tus cejas y pestañas!</h1>
    <div class="nbl">
        <div>
            <div class="servicio">
                {% for servicio in servicios_browsandlashes %}
                <div class="title">
                    <h2 class="">{{servicio[2]}}</h2>
                </div>
                <img src="img/lifting.png" width="300" height="300">
                <div>Tiempo aproximado: {{servicio[3]}}</div>
                <div>Duración aproximada: {{servicio[4]}}</div>
                <div>Precio: $ {{servicio[5]}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}