{% include 'header.html' %}


<main class="contenedor-home">
    <h1 class="jazz"><span>Jazz</span>HaNds <span>Nailart</span></h1>
    <section class="presentacion">

        <p class="hola">Servicios de belleza apuntados a realzar la belleza natural sacando a relucir todo tu potencial. Manicuría especializada en cuidar la uña natural, sin limado excesivo. Mi meta siempre es que puedas lucir tus uñas perfectas y sobretodo sanas. Belleza
            de pies con pedicuría básica. Lifting y tinte de pestañas. Diseño y perfilado, laminado y tinte de cejas.
        </p>
        <iframe class="video-home" src="https://www.youtube.com/embed/Zl5PE0hYDhU" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media;"></iframe>
    </section>
    <article class="ubicacion">
        <h3>¿Dónde me encontrás?</h3>
        <p>Atiendo en Boedo, en el limite con los barrios de Caballito y Almagro, Ciudad Autónoma de Buenos Aires.</p>
        <iframe class="mapa-home" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.2919871535464!2d-58.430012284769894!3d-34.622060880454725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca503dba30a9%3A0x907cbed1f0e1bc8e!2sAv.%20Independencia%20%26%20Av.%20La%20Plata%2C%20C1226%20CABA!5e0!3m2!1sen!2sar!4v1621648305492!5m2!1sen!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </article>
</main>

{% include 'footer.html' %}