{% include 'header.html' %}

<main class="contenedor-nbl">
    <h1>¡Elegí lo que quieras para tus uñas!</h1>
    <div class="nbl nbl-subtitle">
        <div>
            <div class="servicio">
                {% for servicio in servicios_nails %}
                <div class="title">
                    <h2 class="">{{servicio[2]}}</h2>
                </div>
                <img src="img/mani.png" width="300" height="300">
                <div>Tiempo aproximado: {{servicio[3]}}</div>
                <div>Duración aproximada: {{servicio[4]}}</div>
                <div>Precio: $ {{servicio[5]}}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>



{% include 'footer.html' %}