{% include 'header.html' %}


<div class="contenedor-turnos">
    <h1>¡Reserva tu turno!</h1>

    <form action="mailto:mail@gmail.com" method="post" enctype="text/plain">
        <div id="form1">
            <fieldset>
                <legend>Datos Personales</legend>
                <label for="nombres">Nombres:</label>
                <input type="text" id="nombres" name="nombres" placeholder="Escriba sus nombres aqui" required><br><br>

                <label for="apellidos">Apellidos:</label>
                <input type="text" id="Apellidos" name="apellidos" placeholder="Escriba sus apellidos aqui" required><br><br>

                <label for="phone">Teléfono celular:</label>
                <input type="tel" id="phone" name="phone" placeholder="11-2345-6789" required>
            </fieldset>
            <fieldset>
                <legend>Turno</legend>
                <label for="fecha">Fecha del turno:</label>
                <input type="date" id="fecha" name="fecha" required>
                <br>
                <br>
                <label for="horario">Horario del turno:</label>
                <select id="horario" required>
                <option value="1">08:00am</option>
                <option value="2">11:00am</option>
                <option value="3">14:00pm</option>
                <option value="4">17:00pm</option>
            </select>
            </fieldset>
        </div>
        <div id="form2">
            <fieldset class="turno-servicios">
                <legend>Servicios</legend>
                <input type="checkbox" id="serv1" name="serv1" value="1">
                <label for="serv1">Manicuría básica</label><br>

                <input type="checkbox" id="serv2" name="serv2" value="2">
                <label for="serv2"> Manicuría con semipermanente</label><br>

                <input type="checkbox" id="serv3" name="serv3" value="3">
                <label for="serv3"> Esculpidas Gel/Poligel</label><br>

                <input type="checkbox" id="serv4" name="serv4" value="4">
                <label for="serv4"> Capping Gel/Poligel</label><br>

                <input type="checkbox" id="serv5" name="serv5" value="5">
                <label for="serv5"> Pedicuría básica</label><br>

                <input type="checkbox" id="serv6" name="serv6" value="6">
                <label for="serv6"> Pedicuría con semipermanente</label><br>

                <input type="checkbox" id="serv7" name="serv7" value="7">
                <label for="serv7"> Reparacion de uña</label><br>

                <input type="checkbox" id="serv8" name="serv8" value="8">
                <label for="serv8"> Perfilado</label><br>

                <input type="checkbox" id="serv9" name="serv9" value="9">
                <label for="serv9"> Perfilado con tinte</label><br>

                <input type="checkbox" id="serv10" name="serv10" value="10">
                <label for="serv10"> Lifting de pestañas</label><br>

                <input type="checkbox" id="serv11" name="serv11" value="11">
                <label for="serv11"> Lifting con tinte</label><br>
            </fieldset>
        </div>
        <div id="form3">
            <fieldset>
                <legend>Estado de tus uñas</legend>
                <input type="checkbox" id="estado1" name="estado1" value="1">
                <label for="estado1"> Rota/s</label><br>
                <input type="checkbox" id="estado2" name="estado2" value="2">
                <label for="estado2"> Mordidas</label><br>
                <input type="checkbox" id="estado3" name="estado3" value="3">
                <label for="estado3"> Con esmaltado semipermanente</label><br>
                <input type="checkbox" id="estado4" name="estado4" value="4">
                <label for="estado4"> Esculpidas</label><br>
                <input type="checkbox" id="estado5" name="estado5" value="5">
                <label for="estado5"> Capping</label><br>
            </fieldset>
            <fieldset>
                <legend>Informacion adicional</legend>
                <textarea name="infoadicional" rows="4" placeholder="Asisto con acompañante, hije o mascota, ingreso con bicicleta..."></textarea>
            </fieldset>
        </div>
</div>

<div class="boton-turno">
    <input type="submit" value="Enviar">
</div>
</form>
</div>

{% include 'footer.html' %}